[Unit]
Description=Proxbox Backend Service (FastAPI)
Documentation=https://github.com/netdevopsbr/netbox-proxbox
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=netbox
Group=netbox
PIDFile=/var/tmp/proxbox.pid
WorkingDirectory=/opt/netbox/netbox/netbox-proxbox

ExecStart=/opt/netbox/venv/bin/uvicorn netbox-proxbox.netbox_proxbox.main:app --host 0.0.0.0 --port 8800 --app-dir /opt/netbox/netbox

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target