poetry
invoke
requests>=2
pynetbox>=5
paramiko>=2
proxmoxer>=1
fastapi[all]
starlette
uvicorn[standard]
websockets
jinja2
ujson>=5.7.0
orjson>=3.8.9
httpcore
pytest>=3.7
check-manifest
twine
setuptools
wheel
