aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.6.0
asgiref==3.8.1
attrs==24.2.0
babel==2.16.0
build==1.2.2.post1
CacheControl==0.14.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
cryptography==43.0.1
defusedxml==0.8.0rc2
Django==5.0.9
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-filter==24.3
django-graphiql-debug-toolbar==0.2.0
django-htmx==1.19.0
django-js-asset==2.2.0
django-mptt==0.16.0
django-pglocks==1.0.4
django-prometheus==2.3.1
django-redis==5.4.0
django-rich==1.11.0
django-rq==2.10.2
django-tables2==2.7.0
django-taggit==6.0.0
django-timezone-field==7.0
djangorestframework==3.15.2
dnspython==2.7.0
drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.7.1
dulwich==0.21.7
email_validator==2.2.0
fastapi==0.115.0
fastapi-cli==0.0.5
fastjsonschema==2.20.0
feedparser==6.0.11
ghp-import==2.1.0
graphene==3.3
graphene-django==3.2.2
graphql-core==3.2.4
graphql-relay==3.2.0
gunicorn==23.0.0
h11==0.14.0
httpx
httpcore
httptools==0.6.1
idna==3.10
inflection==0.5.1
installer==0.7.0
invoke==2.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==24.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.1
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.2.0
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.38
mkdocs-material-extensions==1.3.1
mkdocstrings==0.26.1
mkdocstrings-python-legacy==0.2.4
netaddr==1.3.0
-e git+https://github.com/netdevopsbr/netbox-proxbox.git@c0c9694d18d42c507a6d312e7e9c261fe4278791#egg=netbox_proxbox
nh3==0.2.18
numpy==2.1.2
oauthlib==3.2.2
orjson==3.10.7
packaging==24.1
paginate==0.5.7
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.2
platformdirs==4.3.6
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
prometheus_client==0.21.0
promise==2.3
proxmoxer==2.1.0
psycopg==3.2.2
psycopg-c==3.2.2
psycopg-pool==3.2.3
pycparser==2.22
pydantic==2.9.2
pydantic-extra-types==2.9.0
pydantic-settings==2.5.2
pydantic_core==2.23.4
Pygments==2.18.0
PyJWT==2.9.0
pymdown-extensions==10.11.2
pynetbox==7.4.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
python3-openid==3.2.0
pytkdocs==0.16.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
redis==5.1.1
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.2
rpds-py==0.20.0
rq==1.16.2
setuptools==75.1.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
starlette==0.40.0
strawberry-graphql==0.243.1
strawberry-graphql-django==0.48.0
svgwrite==1.4.3
tablib==3.6.1
text-unidecode==1.3
tomlkit==0.13.2
trove-classifiers==2024.9.12
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.31.1
uvloop==0.21.0b1
virtualenv==20.26.6
watchdog==5.0.3
watchfiles==0.24.0
websockets==13.1
wheel==0.44.0
