<html>
    <head>
        <title>FastAPI | Home</title>
    </head>
    <body>
        <div align=center>
            <h1>FastAPI instance</h1>
            <p>It is running so <a href="https://github.com/netdevopsbr/netbox-proxbox" target="_blank">Proxbox</a> can use fome of the useful features like:
                <br>
                <br>
                    <strong>
                        <a href="https://fastapi.tiangolo.com/advanced/websockets/?h=websocket" target="_blank">
                            Websocket
                        </a>
                    </strong>
                <br>
                    <strong>
                        <a href="https://fastapi.tiangolo.com/async/" target="_blank">
                            Assynchronous code (async / await)
                        </a>
                    </strong>
                
            </p>
        </div>
    </body>
</html>