{% extends 'base/layout.html' %}
{% load static %}

{% block content %}

    <div>

        <script>
            uvicorn_host = "{{ configuration.netbox_proxbox.fastapi.uvicorn_host }}"
            uvicorn_port = "{{ configuration.netbox_proxbox.fastapi.uvicorn_port }}"

            fastapi_endpoint = `http://${uvicorn_host}:${uvicorn_port}`
            websocket_endpoint = `ws://${uvicorn_host}:${uvicorn_port}/ws`

            var ws = new WebSocket(websocket_endpoint);
            ws.onmessage = function(event) {

                var messages = document.getElementById('messages')
                var message = document.createElement('li')

                message.style.lineHeight = '170%'

                message.innerHTML = event.data
                messages.appendChild(message)

                var test = document.getElementById('scrollable-div')
                test.scrollTop = test.scrollHeight

            };


            function sendMessage(event) {
                // Send Websocket Message

                ws.send("Start")
                //input.value = ''
                event.preventDefault()
            }


            function getBody () {
                body = document.getElementsByTagName("body")
                body = body[0]

                body.onload = getVersion

            }
            
            getBody()

            async function getVersion() {
            
                let elemento = document.getElementsByClassName("proxmox_version")

                for (let item of elemento) {

                    let td = item.getElementsByTagName("td")
                    let th = item.getElementsByTagName("th")
                    
                    if (td[0].id) {
                        let tdID = td[0].id
                        
                        const version_endpoint = `${fastapi_endpoint}/proxmox/version?source=netbox&list_all=false&plugin_name=netbox_proxbox&domain=${tdID}`
                        const cluster_endpoint = `${fastapi_endpoint}/proxmox/sessions?source=netbox&list_all=false&plugin_name=netbox_proxbox&domain=${tdID}`
                        const endpoints = [version_endpoint, cluster_endpoint]
                        
                        let apiResponses = []

                        if (endpoints) {
                            for (let endpoint of endpoints){
                                try {
                                    const request = await fetch(endpoint)
                                    const response = await request.json()
                                    apiResponses.push(response[0])
                                    //console.log("endpoint test: ", response[0] )
                                    

                                    if (request.ok && response[0] && response[0].domain) {
                                        //console.log("NAME: ", response[0].domain)
                                        let statusBadge = document.getElementById(`proxmox-connection-status-${response[0].domain}`)
                                        
                                        //console.log("statusBadge", statusBadge)
                                        if (statusBadge) {
                                            statusBadge.className = "text-bg-green badge p-1"
                                            statusBadge.textContent = "Successful!"
                                        }
              
                                        
                                    }

                                    if (request.status === 400) {
                                        console.log("CONEXÃO DEU RUIM")
 
                                        console.log("request text", response.message)
                                        
                                        let errorStatusBadge = document.getElementsByClassName("proxmox-connection-check")

                                        console.log("tdID", tdID)
                                        let connectionError = document.getElementById(`proxmox-connection-error-${tdID}`)
                                        console.log("connectionError", connectionError)
                                        let connectionErrorFilledMessage = document.getElementById(`proxmox-filled-message-${tdID}`)

                                        if (!connectionErrorFilledMessage) {
                                            connectionError.className = "text-bg-red p-2"
                                            connectionError.innerHTML = `<p id="proxmox-filled-message-${tdID}"><strong>Message: </strong>${response.message}<br><strong>Detail: </strong>${response.message}<br><strong>Python Exception: </strong>${response.python_exception}</p>`
                                        }

                                        console.log("errorStatusBadge", errorStatusBadge)
                                        
                                        for (let item of errorStatusBadge) {
      
                                            if (item.id.includes(`${tdID}`)) {
                                                console.log("ID FOUND.", item.id)
                                                item.className = "text-bg-red badge p-1"
                                                item.textContent = "Connection Failed!"
                                            }
                                        }
                                    }



    
    
                                } catch (err) {
    
                                    
                                    continue
                                }
                            }
                        }

                        if (apiResponses) {
                            if (apiResponses[0]) {
                                for (let value in apiResponses[0]) {

                                    if (th[0].textContent === 'Proxmox Version') {
                                        td[0].innerHTML = `<span class='badge text-bg-grey' title='Proxmox Version'><strong><i class='mdi mdi-tag'></i></strong> ${apiResponses[0][value].version}</span>`
                                    }
                                    if (th[0].textContent === 'Proxmox RepoID') {
                                        td[0].innerHTML = `<span class='badge text-bg-grey' title='Proxmox RepoID'>${apiResponses[0][value].repoid}</span>`
                                    }
                                }
                            }

                            if (apiResponses[1]) {
    
                                for (let value in apiResponses[1]) {
    
                                    if (th[0].textContent === 'Proxmox Cluster Name') {
                                        td[0].innerHTML = `<strong>${apiResponses[1].name}</strong>`
                                    }
        
                                    if (th[0].textContent === 'Proxmox Cluster Mode') {
        
                                        let mode = apiResponses[1].mode
                                        if ( mode === "standalone" ) { mode = "<span class='badge text-bg-blue' title='Standalone Mode'><strong><i class='mdi mdi-server'></i></strong> Standalone (Single Node)</span>" }
                                        if ( mode === "cluster" ) { mode = "<span class='badge text-bg-purple' title='Cluster Mode'><strong><i class='mdi mdi-server'></i></strong> Cluster (Multiple Nodes)</span>" } 
                                        td[0].innerHTML = `${mode}`
                                    }
                                }
                            }
                        }

                    }
                }
            }
        </script>

        <div class="row mb-3">

            {# Full Update Button#}
            <div style="margin-bottom: 15px;" class="d-flex justify-content-center noprint">
                <form action="" onsubmit="sendMessage(event)">
                    {% if perms.netbox_proxbox.add_proxmoxvm %}
                    <button class="btn btn-primary">Proxmox Full Update (probably not working on v4.0)</button>

                    
                    {% endif %}
                </form>
            </div>
            
           
            <div style="margin-bottom: 15px;" class="d-flex justify-content-center noprint">
                {% if perms.netbox_proxbox.add_proxmoxvm %}
                <a href="http://{{ configuration.netbox_proxbox.fastapi.uvicorn_host }}:{{ configuration.netbox_proxbox.fastapi.uvicorn_port }}/proxbox/clusters/nodes" target="_blank" class="btn btn-primary">Proxmox Nodes Update</a>
                {% endif %}
            </div>
            <div style="margin-bottom: 15px;" class="d-flex justify-content-center noprint">
                {% if perms.netbox_proxbox.add_proxmoxvm %}
                <a href="http://{{ configuration.netbox_proxbox.fastapi.uvicorn_host }}:{{ configuration.netbox_proxbox.fastapi.uvicorn_port }}/proxbox/clusters/virtual-machines" target="_blank" class="btn btn-primary">Proxmox Virtual Machines Update</a>
                {% endif %}
            </div>
        
            <br>
            <br>
            
            <div class="d-flex justify-content-center flex-nowrap" style="margin-bottom: 15px;">
                <h2>
                    Proxbox Configuration
                </h2>
            </div>

            {% for px in configuration.netbox_proxbox.proxmox %}
                <div class="col col-md-6">
                    <div class="card">
                        <div class="p-4" id="proxmox-connection-error-{{ px.domain }}">

                        </div>
                        <div class="flex d-flex flex-row  justify-content-center align-items-center p-2 mt-4">

  
                            <div class="flex d-flex mx-auto position-absolute" >
                                <a href="https://{{ px.domain }}:{{ px.http_port }}" target="_blank">
                                    <img src="{% static 'netbox_proxbox/proxmox-logo.svg' %}" alt="Proxmox Logo" width="200px">
                                </a>
                            </div>
        
                            <div class="d-flex ms-auto " style="margin: 0 40px 0 0">
                                <span id="proxmox-connection-status-{{ px.domain }}" class="proxmox-connection-check badge p-1">Unknown</span>
                            </div>

                        </div>

                        <div class="card-body">
                            <table class="table table-hover attr-table" >
                                <tr class="proxmox_version">
                                    <th scope="row" ><strong>Proxmox Cluster Name</strong></th>
                                    <td id="{{ px.domain }}"></td>
                                </tr>
                                <tr class="proxmox_version">
                                    <th scope="row" ><strong>Proxmox Cluster Mode</strong></th>
                                    <td id="{{ px.domain }}"></td>
                                </tr>
                                <tr class="proxmox_version">
                                    <th scope="row" ><strong>Proxmox Version</strong></th>
                                    <td id="{{ px.domain }}"></td>
                                </tr>
                                <tr class="proxmox_version">
                                    <th scope="row" ><strong>Proxmox RepoID</strong></th>
                                    <td id="{{ px.domain }}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><strong>Domain / IP</strong></th>
                                    {% if px.domain %}
                                        <td>{{ px.domain }}</td>
                                    {% else %}
                                        <td>{{ default_config.proxmox.domain }} (default)</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                <th scope="row"><strong>HTTP Port</strong></th>
                                {% if px.http_port %}
                                        <td>{{ px.http_port }}</td>
                                    {% else %}
                                        <td>{{ default_config.proxmox.http_port }} (default)</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row"><strong>Proxmox User</strong></th>
                                    {% if px.user %}
                                        <td>{{ px.user }}</td>
                                    {% else %}
                                        <td>{{ default_config.proxmox.user }} (default)</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                <th scope="row"><strong>Proxmox Password</strong></th>
                                    {% if px.password %}
                                        <td>password defined in configuration.py</td>
                                    {% else %}
                                        <td>(secret) (default)</td>
                                    {% endif %}
                                </tr>
                                    <th scope="row"><strong>Token Name</strong></th>
                                    {% if px.token.name %}
                                        <td>{{ px.token.name }}</td>
                                    {% else %}
                                        <td>{{ default_config.proxmox.token.name }} (default)</td>
                                    {% endif %}
                                <tr>
                                    <th scope="row"><strong>Token Value</strong></th>
                                    <td>(secret)</td>
                                </tr>
                                <tr>
                                    <th scope="row"><strong>SSL</strong></th>
                                    {% if px.ssl %}
                                        <td>{{ px.ssl }}</td>
                                    {% else %}
                                        <td>{{ default_config.proxmox.ssl }} (default)</td>
                                    {% endif %}
                                </tr>
                            </table>
                            <div class="d-flex justify-content-between">
                                {% if px.domain %}
                                    <form action="single_update/" method="POST" target="_blank">
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                        <input type="hidden" name="proxmox_domain" value="{{ px.domain }}" />
                                        <a 
                                            class="btn btn-primary"
                                            href="#"
                                            onclick="event.preventDefault(); this.parentNode.submit()"
                                        >Proxmox Update</a>
                                    </form>
                                {% else %}
                                    <a 
                                        target="_blank"
                                        class="btn btn-primary"
                                        href="{% url 'plugins:netbox_proxbox:proxmoxvm_single_update' domain=default_config.proxmox.domain %}" 
                                    >Proxmox Update</a>
                                {% endif %}
                                <button class="btn btn-outline-primary" type="button">
                                    <a
                                        style="text-decoration: none; color: inherit"
                                        target="_blank"
                                        href="https://github.com/netdevopsbr/netbox-proxbox#13-configure-plugin"
                                    >Show Example</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col col-md-6">
                <div class="card">
                    <div align=center>
                        <br>
                        <a href="{% url 'home' %}">
                            <img src="{% static 'netbox_logo.svg' %}" alt="Netbox Logo" width="200px">
                        </a>
                    </div>  
                    <div class="card-body">
                        <table class="table table-hover attr-table">
                            <tr>
                                <th scope="row"><strong>Domain / IP</strong></th>
                                {% if px.netbox.domain %}
                                    <td>{{ px.netbox.domain }}</td>
                                {% else %}
                                    <td>{{ default_config.netbox.domain }} (default)</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row"><strong>HTTP Port</strong></th>
                                {% if px.netbox.http_port %}
                                    <td>{{ px.netbox.http_port }}</td>
                                {% else %}
                                    <td>{{ default_config.netbox.http_port }} (default)</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row"><strong>Token</strong></th>
                                {% if px.netbox.token %}
                                    <td>{{ px.netbox.token }}</td>
                                {% else %}
                                    <td>{{ default_config.netbox.token }} (default)</td>
                                {% endif %}
                            <tr>
                            </tr>
                                <th scope="row"><strong>SSL</strong></th>
                                {% if px.netbox.ssl %}
                                    <td>{{ px.netbox.ssl }}</td>
                                {% else %}
                                    <td>{{ default_config.netbox.ssl }} (default)</td>
                                {% endif %}
                            </tr>
                        </table>
                        <div align="right">
                            <button class="btn btn-outline-primary" type="button">
                                <a
                                    style="text-decoration: none; color: inherit"
                                    target="_blank"
                                    href="https://github.com/netdevopsbr/netbox-proxbox/blob/develop/netbox_proxbox/__init__.py"
                                >Show Example</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="card">
                    <div align=center>
                        <br>
                        <a href="https://fastapi.tiangolo.com/" target="_blank">
                            <img src="{% static 'netbox_proxbox/fastapi_logo.png' %}" alt="Netbox Logo" width="200px">
                        </a>
                        <p>This service <strong>MUST</strong> be running to Proxbox work.<br>It's the backend which communicates with Proxmox Clusters.</br></p>
                    </div>  
                    <div class="card-body">
                        <table class="table table-hover attr-table">
                            <tr>
                                <th scope="row"><strong>Uvicorn Host</strong></th>
                                {% if configuration.netbox_proxbox.fastapi.uvicorn_host %}
                                    <td>{{ configuration.netbox_proxbox.fastapi.uvicorn_host }}</td>
                                {% else %}
                                    <td>{{ default_config.fastapi.uvicorn_host }} (default)</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row"><strong>Uvicorn Port</strong></th>
                                {% if configuration.netbox_proxbox.fastapi.uvicorn_port %}
                                    <td>{{ configuration.netbox_proxbox.fastapi.uvicorn_port }}</td>
                                {% else %}
                                    <td>{{ default_config.fastapi.uvicorn_port }} (default)</td>
                                {% endif %}
                            </tr>
                        </table>
                        <div align="right">
                            <button class="btn btn-outline-primary" type="button">
                                <a
                                    style="text-decoration: none; color: inherit"
                                    target="_blank"
                                    href="https://fastapi.tiangolo.com/deployment/manually/"
                                >Show Example</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <h1 id="log-messages">Log Messages</h1>
        <div style='overflow-y: auto; width: 100%; height: 400px;' id="scrollable-div">
            <div class="card" style="flex-direction: cloumn; overflow-y: auto">
                <ul id='messages' style='overflow: auto; flex-direction: cloumn-reverse; list-style-type: none;'>
                </ul>
            </div>
        </div>

        <!-- Button to show JSON result -->
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show configuration (JSON)
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="row mb-3" style="color: white">
                <div class="col col-md-6" >
                    <div class="card" style="background-color: #333">
                        <br>
                        <a
                            style="text-decoration: none; color: #cccccc"
                            target="_blank"
                            href="https://github.com/netdevopsbr/netbox-proxbox/blob/develop/netbox_proxbox/__init__.py"
                        >
                            <h2 align=center>Configuration (PLUGINS_CONFIG)</h2>
                        </a>
                        
                        <div class="card-body">
                            <pre>{{ configuration_json }}</pre>
                        </div>
                    </div>
                </div>
                
                <div class="col col-md-6" style="color: white">
                    <div class="card" style="background-color: #333">
                        <br>
                        <a
                            style="text-decoration: none; color: #cccccc"
                            target="_blank"
                            href="https://github.com/netdevopsbr/netbox-proxbox/blob/develop/netbox_proxbox/__init__.py"
                        >
                            <h2 align=center>Default Config</h2>
                        </a>
                        
                        <div class="card-body" style="color: white">
                            <pre>{{ default_config_json }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_links %}
    {{ block.super }}

    {% include "netbox_proxbox/footer.html" %}
{% endblock %}
