<!-- 'base.html' comes from Netbox and takes care of Netbox's look and feel for the page, giving menus, footer, etc. -->

<!-- loads custom tags and filters defined in 'helpers'. It also comes from core Netbox and provides the 'placeholder' filter used in this template-->
<!-- {% load helpers %} -->

<!--
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Proxmox</strong>
    </div>
    <table class="table table-hover panel-body attr-table">
        <tr>
            <td>Cluster</td>
            <td>
                Cluster Value
            </td>
        </tr>
        <tr>
            <td>Node</td>
            <td>Node Value</td>
        </tr>
        <tr>
            <td>Virtual Machine</td>
            <td>
                Virtual Machine Value
            </td>
        </tr>
    </table>
</div>
{% endblock %}
-->
