<!-- 'base.html' comes from Netbox and takes care of Netbox's look and feel for the page, giving menus, footer, etc. -->
{% extends 'base.html' %}

<!-- loads custom tags and filters defined in 'helpers'. It also comes from core Netbox and provides the 'placeholder' filter used in this template-->
{% load helpers %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Proxmox VM/CT</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Cluster</td>
                    <td>
                        {% if vmresources.cluster %}
                            <a href="{% url 'virtualization:cluster' pk=vmresources.cluster.pk %}">{{ vmresources.cluster }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Node</td>
                    <td>{{ vmresources.node }}</td>
                </tr>
                <tr>
                    <td>Virtual Machine</td>
                    <td>
                        {% if vmresources.virtual_machine %}
                            <a href="{% url 'virtualization:virtualmachine' pk=vmresources.virtual_machine.pk %}">{{ vmresources.virtual_machine }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Proxmox VM ID</td>
                    <td>{{ vmresources.proxmox_vm_id}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}